.mainDiv {
  overflow-x: hidden;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.mainSheet {
  height: 86vh;
  /* overflow-x: auto; */
  overflow-y: scroll;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border-spacing: 0;
  width: max-content;
  /* width: max-content; */
  /* height: max-content; */
}
td {
  text-align: left;
  padding: 0px;
  line-height: 0.5rem;
  border: 1px solid #d2d3ce;
  width: 100px;
}
th {
  border: 1px solid #d2d3ce;
  background-color: #eff1e3;
  text-align: center;
  padding: 8px;
  width: 10px;
}
[contenteditable] {
  outline: 0px solid transparent;
  text-align: left;
  margin: 0px;
  cursor: default;
  line-height: 100%;
}
.workAreaSelected {
  border: 3px solid #1d6f42;
}
#colHeader {
  text-align: center;
  width: 0.4rem;
  font-size: smaller;
  background-color: #eff1e3;
  padding: 8px;
  cursor: pointer;
}
#rowHeader {
  width: 10rem;
  font-weight: normal;
  padding: 8px;
  line-height: 0.5rem;
  cursor: pointer;
}
.selectedRowHeader {
  border-bottom-color: #1d6f42;
  border-bottom-width: 2px;
  background-color: #bfbfbf;
  color: #1d6f42;
}
.selectedColHeader {
  border-right-color: #1d6f42;
  border-right-width: 2px;
  background-color: #bfbfbf;
  color: #1d6f42;
}
.list-group-item:hover {
  background-color: #1d6f42;
  color: white;
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  padding: 6px 12px;
  cursor: pointer;
  outline: 3px black;
  color: #1d6f42;
}
.custom-file-upload:hover {
  background-color: #1d6f42;
  color: white;
}

.selectedRow {
  border: 3px solid#1d6f42;
}
#saveButton {
  background-color: #1d6f42;
}
#borderUpload {
  border: 1px solid #1d6f42;
  border-radius: 5.7px;
}
#buttonsMain {
  padding: 2px;
  background-color: #eff1e3;
  height: 7vh;
}
